.container table {
	width: 900px;
	font-size: 20px;
	margin: 100px auto;
	border-collapse: separate;
    border: 1px solid black;
	/* text-align: center; */
	box-shadow: 0 0 10px rgba(255, 255, 255, 0);
	border-radius: 15px;
	color: black;
}
.container tr {
	height: 50px;
	padding: 3px;
}
.container td, th {
	padding: 2px;
}
.container th {
	text-align: left;
}
