.divforcontact{
    background-color: black;
	height: 100vh;
}
small{
	color: white;
}
.tableforcontact tr {
	height: 50px;
	padding: 3px;
}

.tableforcontact td, th {
	padding: 2px;
}

.tableforcontact th {
	text-align: left;
	color: white;
}

.tableforcontact input {
	padding: 2px;
	font-size: 18px;
}

.tableforcontact input[type=submit] {
	padding: 3px 35px;
	border: 1px solid white;
	border-radius: 20px;
}

.tableforcontact input[type=submit]:hover {
	background-color: yellow;
	color: black;
	box-shadow: 0 0 10px white;
}